[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyinstaller = "*"
flask = "*"
pillow = "*"
numpy = "*"
waitress = "*"

[dev-packages]
autopep8 = "*"
isort = "*"

[requires]
python_version = "3.8"

[scripts]
start = "python main.py"
build = "pyinstaller --clean main.spec"
